{% extends "base.html" %}

{% block title %}{{ user.username }}'s Collection{% endblock %}

{% block content %}
<h1 class="my-4">{{ user.username }}'s Collection</h1>
{% if is_followee%}
<h3>Total market value of {{ user.username }}'s collection is ${{total_value | round(2)}}</h3>
{% endif %}
{% if not is_followee %}
  <form method="POST" action="{{ url_for('follow', user_id=user.id) }}">
    <button type="submit" class="btn btn-success mb-4">Follow</button>
  </form>
{% else %}
  <p>You follow {{ user.username }}.</p>
  <form method="post" action="{{ url_for('unfollow', user_id=user.id) }}">
    <button type="submit" class="btn btn-danger button unfollow">Unfollow</button>
  </form>
{% endif %}
{% if collections %}
  <div class="row">
    {% for item in collections %}
      <div class="col-md-4 mb-4">
        <div class="card">
          {% set image = item.cover_image if item.cover_image else 'https://via.placeholder.com/150' %}
          <img src="{{ image }}" class="card-img-top" alt="{{ item.title }}">
          <div class="card-body">
            <h5 class="card-title">
              {% if is_followee %}
              <a href="{{ url_for('item_details', collection_id=item.id) }}">{{ item.title }}</a>
              {% else %}
              {{ item.title }}
              {% endif %}
            </h5>
            <p>Year: {{ item.year }}</p>
            <p>Country: {{ item.country }}</p>
            <p>Label: {{ item.selected_label }}</p>
            <p>Format: {{ item.format }}</p>
            {% if is_followee %}
            <p>Market value: ${{item.price}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No items in {{ user.username }}'s collection yet.</p>
{% endif %}
<a href="{{ url_for('users') }}" class="btn btn-secondary mt-4">Back to Users</a>
{% endblock %}